.sidebar {
  background-color: black;
  border: 1px solid white;
  color: #ddd;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 12rem;
}

.sidebar:hover .nav-item {
  justify-content: flex-start;
  column-gap: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  transition:
    background-color 0.2s,
    box-shadow 0.2s,
    border-radius 0.2s;
}

.nav-item:hover {
  background-color: #ddd;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  color: black;
  border-radius: 0.5rem;
}

.nav-item i {
  font-size: 1.25rem;
  color: #ddd;
}

.nav-text {
  display: none;
  white-space: nowrap;
  font-weight: 500;
}

.sidebar:hover .nav-text {
  display: inline-block;
}

.nav-item:hover * {
  color: black;
}

.nav-item i,
.nav-item span {
  pointer-events: none;
}

.sidebar * {
  color: #ddd;
}

button.nav-item {
  background-color: black;
  border: none;
  cursor: pointer;
}

.modal {
  background-color: #000;
  border: 3px solid #7daea3;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.create-post-form-header {
  width: 100%;
  text-align: center;
}

#create-post-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
}

#create-post-form input {
  background-color: #2b2f31;
  color: white;
}

#create-post-form textarea {
  background-color: #2b2f31;
  resize: none;
  height: 100%;
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.close-button:hover {
  color: #ea6962;
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(234, 105, 98, 0.3);
}

.close-button:active {
  color: #ea6962;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button i {
  pointer-events: none;
}

#create-post-form button[type="submit"] {
  background-color: transparent;
  border: 1px solid #7daea3;
  color: #ddd;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#create-post-form button[type="submit"]:hover {
  background-color: #7daea3;
  color: white;
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(125, 174, 163, 0.4);
}

#create-post-form button[type="submit"]:active {
  background-color: #ccc;
  color: black;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
